.botonera {
    border-style: solid;
    justify-self: center;
    padding: 10px;
    margin-bottom: 5px
}

.bloqueTareas {
    border-style: solid;
    width: calc(100vw - 200px); /* 100px margen izquierdo + 100px margen derecho */
    height: 100vh;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    box-sizing: border-box;
}

.tarea {
    border-style: dotted;
    box-sizing: border-box;
    width: 80vw;
    justify-self: center;
    margin-bottom: 10px;
    margin-top: 10px
}